*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@font-face {
    font-family: Inconsolata ; /* Имя шрифта */
    src: url('fonts/Inconsolata-Regular.ttf'); /* Путь к файлу со шрифтом */
   }

body{
	background-color: blue;
	font-family: 'Inconsolata';
}
.timer__controls{
	display: flex;
	justify-content: space-around;
}
.timer__button{
	font-family: 'Inconsolata';
	outline: none;
	width: 33.3%;
	height: 50px;
	background-color: lightblue;
	border: none;
	border-right: 1px solid darkblue;
	border-bottom: 1px solid darkblue;
	font-size: 25px;
}
input{
	height: 50px;
	font-family: 'Inconsolata';
}
